.container-main {
    display: flex;
    height: auto;
}

.left{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding: 0 10px;
    width: 60%;
}

.terminal {
    width: 40%;
    background-color: #a75656;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.terminal-window {
    background-color: #000;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.terminal-output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.terminal-input {
    display: flex;
}

.prompt {
    margin-right: 5px;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    flex-grow: 1;
    margin-top: -3%;
}

.top-bar{
    height:100px;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}
.top-head{
    width: 12%;
    float: left;
    margin: 0%;
}
.icon{
    height: 100%;
    float: left;
}


.navbar-list{
    float: left;
    width: 40%;
    height: 5%;
    padding: 2% 2% 0px 2%;
    display:flex;
    justify-content: space-between;
    margin:2% 0% 0% 3%;
}
.navbar-link{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 20px;
    color:#110b0b;
}
.navbar-link:hover{
    color:hsl(38, 61%, 73%);
}
.product {
    position: relative;
    float:left;
    background-color: #f8f6f693;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width:22%;
    height:18%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  .product:hover {
    transform: translateX(15%);
  }
  
  .product img {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .product:hover img {
    transform: translateX(-5%) rotate(45deg);
    transition: transform 0.5s ease-in-out;
  }

  .product .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.product:hover .info {
    transform: translateX(0);
}

.product .info .name {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    text-transform: uppercase;
    writing-mode: vertical-rl; 
    transition: color 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.product:hover .info .name {
    opacity: 1; 
    transform: translateX(0);
}

  .actualprice{
    margin: 0%;
  }
  .price{
    margin: 0%;
  }
